html,
body {
    height: 100% !important;
    width: 100% !important;
}

body {
    background: #ebebeb;
}

.label {
    margin-right: 5px;
    margin-bottom: 5px !important;
    display: inline-block;
}

#wrapper {
    position: relative;
}

.skin-blue .main-header .navbar {
    background-color: #737373 !important;
}

.skin-blue .main-header .logo {
    background-color: #737373 !important;
}

.skin-blue .wrapper,
.skin-blue .main-sidebar,
.skin-blue .left-side {
    background-color: #172A47 !important;
}

.img-login{
    width:270px;
    height: 95px;
}

#container-box{
 width: 500px !important;

}

.login-btn {

    background: #737373;
}

